@using BigScreen.Frontend.Components.MediaDetailsPageLayout.Models
@using System.Globalization
<div class="mud-theme-primary py-6 py-sm-10">
    <MudContainer MaxWidth="MaxWidth.Large" Class="d-flex flex-column flex-md-row align-center gap-3 gap-md-5">
        <div class="align-self-center d-flex flex-column">
            <MudImage Src="@ViewModel.MediaModel.ImageUrl" ObjectFit="ObjectFit.ScaleDown" Class="rounded-t-lg"></MudImage>
            <MudButton DisableElevation="true" StartIcon="@ViewModel.GetTopListButtonInfo().Icon" Variant="Variant.Filled" Color="Color.Primary" Class="rounded-t-0 top-list-button" Size="Size.Large">@ViewModel.GetTopListButtonInfo().Text</MudButton>
        </div>
        <div class="d-flex flex-column">
            <div class="d-flex justify-center justify-md-start flex-wrap">
                <MudText Typo="Typo.h3" Class="text-center">
                    <b>@ViewModel.GetHeader().Title</b>
                </MudText>
                <MudText Typo="Typo.h3" Class="ml-2 text-nowrap">@ViewModel.GetHeader().Year</MudText>
            </div>
            <div class="d-flex justify-center justify-md-start flex-wrap">
                @if (!string.IsNullOrEmpty(ViewModel.GetReleaseDate()))
                {
                    <MudText Typo="Typo.body1" Class="text-nowrap">@ViewModel.GetReleaseDate()</MudText>
                }
                @if (!string.IsNullOrEmpty(ViewModel.GetReleaseDate()) && !string.IsNullOrEmpty(ViewModel.GetGenres()))
                {
                    <MudDivider Vertical="true" Class="mx-2 h-inherit"/>
                }
                @if (!string.IsNullOrEmpty(ViewModel.GetGenres()))
                {
                    <MudText Typo="Typo.body1" Class="text-nowrap">@ViewModel.GetGenres()</MudText>
                }
                @if (!string.IsNullOrEmpty(ViewModel.GetGenres()) && !string.IsNullOrEmpty(ViewModel.GetDuration()))
                {
                    <MudDivider Vertical="true" Class="mx-2 h-inherit"/>
                }
                @if (!string.IsNullOrEmpty(ViewModel.GetDuration()))
                {
                    <MudText Typo="Typo.body1" Class="text-nowrap">@ViewModel.GetDuration()</MudText>
                }
            </div>
            @if (!string.IsNullOrEmpty(ViewModel.GetTagline()))
            {
                <MudText Typo="Typo.body1" Class="my-3">
                    <i>@ViewModel.GetTagline()</i>
                </MudText>
            }

            <div class="d-flex gap-4 justify-space-around justify-md-start flex-wrap my-2">
                <ScoreCard Score="@ViewModel.MediaModel.TmdbScore" Text="Tmdb"/>
                <ScoreCard Score="@ViewModel.MediaModel.BigScreenScore" Text="BigScreen"/>
                @* todo add AuthorizeView *@
                <ScoreCard Score="@ViewModel.MediaModel.UserScore" Text="Your"/>
            </div>


            @if (!string.IsNullOrEmpty(ViewModel.MediaModel.Overview))
            {
                <MudText Typo="Typo.h5" Class="my-2">Overview</MudText>
                <MudText Typo="Typo.body1">@ViewModel.MediaModel.Overview</MudText>
            }
        </div>
    </MudContainer>
</div>
<MudContainer MaxWidth="MaxWidth.Large" Class="mt-md-5">
    <MudGrid >
        <MudItem xs="12" md="10">
            @if (ChildContent is not null)
            {
                @ChildContent
            }
        </MudItem>
        <MudItem xs="12" md="2">
            <div class="d-flex flex-column gap-4">
                @if (!string.IsNullOrEmpty(ViewModel.MediaModel.Status))
                {
                    <div>
                        <MudText Typo="Typo.body1">
                            <b>Status</b>
                        </MudText>
                        <MudText Typo="Typo.body1">@ViewModel.MediaModel.Status</MudText>
                    </div>
                }
                @if (!string.IsNullOrEmpty(ViewModel.MediaModel.Type))
                {
                    <div>
                        <MudText Typo="Typo.body1">
                            <b>Type</b>
                        </MudText>
                        <MudText Typo="Typo.body1">@ViewModel.MediaModel.Type</MudText>
                    </div>
                }
                @if (ViewModel.MediaModel.Budget is not null && ViewModel.MediaModel.Budget != 0)
                {
                    <div>
                        <MudText Typo="Typo.body1">
                            <b>Budget</b>
                        </MudText>
                        <MudText Typo="Typo.body1">$@ViewModel.MediaModel.Budget.Value.ToString("N2")</MudText>
                    </div>
                }
                @if (ViewModel.MediaModel.Budget is not null && ViewModel.MediaModel.Budget != 0)
                {
                    <div>
                        <MudText Typo="Typo.body1">
                            <b>Revenue</b>
                        </MudText>
                        <MudText Typo="Typo.body1">$@ViewModel.MediaModel.Revenue.Value.ToString("N2")</MudText>
                    </div>
                }
            </div>
        </MudItem>
    </MudGrid>
</MudContainer>