<DetailsPageLayout>
    <BannerContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="d-flex flex-column flex-md-row align-center gap-3 gap-md-5">
            <div class="align-self-center d-flex flex-column">
                @if (!string.IsNullOrEmpty(ViewModel.MediaModel.ImageUrl))
                {
                    <MudImage Src="@ViewModel.MediaModel.ImageUrl" ObjectFit="ObjectFit.ScaleDown" Class="rounded-t-lg"></MudImage>
                }
                else
                {
                    <NoImageAvailable Height="450px" Width="300px"/>
                }
                <AuthorizeView>
                <Authorized>
                    <MudButton OnClick="AddToTopListClicked" StartIcon="@Icons.Filled.Add" DisableElevation="true" Variant="Variant.Filled" Color="Color.Primary" Class="rounded-t-0 top-list-button" Size="Size.Large">Add to Top List</MudButton>
                </Authorized>
            </AuthorizeView>
            </div>
            <div class="d-flex flex-column">
                <MudText Typo="Typo.h4" Class="text-center text-md-left">
                    <b>@ViewModel.GetHeader().Title</b>
                    @ViewModel.GetHeader().Year
                </MudText>
                <div class="d-flex justify-center justify-md-start flex-wrap">
                    @if (!string.IsNullOrEmpty(ViewModel.GetReleaseDate()))
                    {
                        <MudText Typo="Typo.body1" Class="text-nowrap">@ViewModel.GetReleaseDate()</MudText>
                    }
                    @if (!string.IsNullOrEmpty(ViewModel.GetReleaseDate()) && !string.IsNullOrEmpty(ViewModel.GetGenres()))
                    {
                        <MudDivider Vertical="true" Class="mx-2 h-inherit"/>
                    }
                    @if (!string.IsNullOrEmpty(ViewModel.GetGenres()))
                    {
                        <MudText Typo="Typo.body1" Class="text-nowrap">@ViewModel.GetGenres()</MudText>
                    }
                    @if (!string.IsNullOrEmpty(ViewModel.GetGenres()) && !string.IsNullOrEmpty(ViewModel.GetDuration()))
                    {
                        <MudDivider Vertical="true" Class="mx-2 h-inherit"/>
                    }
                    @if (!string.IsNullOrEmpty(ViewModel.GetDuration()))
                    {
                        <MudText Typo="Typo.body1" Class="text-nowrap">@ViewModel.GetDuration()</MudText>
                    }
                </div>
                @if (!string.IsNullOrEmpty(ViewModel.GetTagline()))
                {
                    <MudText Typo="Typo.body1" Class="my-3">
                        <i>@ViewModel.GetTagline()</i>
                    </MudText>
                }

                <div class="d-flex gap-4 justify-space-around justify-md-start flex-wrap my-2">
                    <ScoreCard Score="@ViewModel.MediaModel.TmdbScore" Text="Tmdb"/>
                    <ScoreCard Score="@ViewModel.MediaModel.BigScreenScore" Text="BigScreen"/>
                    <AuthorizeView>
                        <Authorized>
                            <ScoreCard Score="@ViewModel.MediaModel.UserScore" ScoreChanged="async args => await ViewModel.OnUserScoreChanged(args)" AllowScoring="true" Text="Your"/>
                        </Authorized>
                    </AuthorizeView>
                </div>


                @if (!string.IsNullOrEmpty(ViewModel.MediaModel.Overview))
                {
                    <MudText Typo="Typo.h5" Class="my-2">Overview</MudText>
                    <MudText Typo="Typo.body1">@ViewModel.MediaModel.Overview</MudText>
                }
            </div>
        </MudContainer>
    </BannerContent>
    <MainContent>
        @if (ChildContent is not null)
        {
            @ChildContent
        }
    </MainContent>
    <SideContent>
        <div class="d-flex flex-column gap-4">
            @if (!string.IsNullOrEmpty(ViewModel.MediaModel.Status))
            {
                <div>
                    <MudText Typo="Typo.body1">
                        <b>Status</b>
                    </MudText>
                    <MudText Typo="Typo.body1">@ViewModel.MediaModel.Status</MudText>
                </div>
            }
            @if (ViewModel.MediaModel.Budget is not null && ViewModel.MediaModel.Budget != 0)
            {
                <div>
                    <MudText Typo="Typo.body1">
                        <b>Budget</b>
                    </MudText>
                    <MudText Typo="Typo.body1">$@ViewModel.MediaModel.Budget.Value.ToString("N2")</MudText>
                </div>
            }
            @if (ViewModel.MediaModel.Revenue is not null && ViewModel.MediaModel.Revenue != 0)
            {
                <div>
                    <MudText Typo="Typo.body1">
                        <b>Revenue</b>
                    </MudText>
                    <MudText Typo="Typo.body1">$@ViewModel.MediaModel.Revenue.Value.ToString("N2")</MudText>
                </div>
            }
        </div>
    </SideContent>
</DetailsPageLayout>