<CascadingValue Value="@ViewModel">
    <LeaveComment MediaId="@MediaId"/>
</CascadingValue>

<div class="mt-4">
    @foreach (var comment in GetComments("-1"))
    {
        <CascadingValue Value="@ViewModel">
            <CommentCard MediaId="@MediaId" Comment="@comment"/>
        </CascadingValue>
    }
</div>